body {
	
}

input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

.container {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.topPanelContainer {
	width: 100%;
	height: 140px;
	border: 1px solid red;
}

.topPanel {
	padding: 8px;
}

.mapa {
	float: left;
	width: 77%;
	height: 600px;
	border: 1px solid;
	border-color: lightgray;
}

.infoPanelContainer {
	border: 1px solid green;
	float: left;
	width: 330px;
	overflow: auto;
}

.infoPanel {
	padding: 10px;
	
}

.topSearchPanel {
	float: left;
	padding: 10px;
	width: 500px;
	border: 1px solid green;
}

/*********************************************************8
* POPUP MENU
*/
.popupContent {
	display: none;
}

.popup {
	color: white;
	font-weight: bold;
	margin: 0 auto;
	background-color: black;
	z-index:8000;
}

.popupMenu {
	height: 25px;
	width: 100px;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
}

.popupStart {
	background-color: green;
}

.popupStop {
	background-color: red;
}

.popupDodajPrzystanek {
	background-color: yellow;
	color: red;
}

/************************************************************************************
* Formularz strona glowna 
*/
.topSearchPaneLeft {
	border: 1px solid yellow;
	width: 500px;
	padding: 10px;
	float: left;
}


.searchButton {
	margin-left: auto;
	margin-right: 0px;
}

/*****************************************************************************************
* LOADING MESSAGE AJAX
*/
.loadingMessage {
	float: left;
	display: none;
}

.loadingMessageGif {
	width: 80px;
	height: 80px;
	margin-top: 10px;
	magin-bottom: 10px;
	margin-left: 50px;
}

/******************************************************************************8
* ADD PRZYSTANEK DIALOG
*/

.addPrzystanekDialog{
	display: none;
	}



		.validateTips { border: 1px solid transparent; padding: 0.3em; }
