body {
	
}

input.text {
	height: 18px;
	padding: 2px;
	border: 1px solid #4e5252;
	box-shadow: inset 0 0 7px 0 #4E5252;
	border-radius: 0px;
	margin: 0px;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

.container {
	width: 100%;
	min-width: 840px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 10px;
	border-radius: 5px;
}

.topPanelContainer {
	background: url('../img2/topPanelContainer.png');
	height: 108px;
	border: 1px solid #89989d;
	border-radius: 5px 5px 0 0;
}

.topPanel {
	padding: 0px;
}

.mapa {
	float: left;
	width: 70%;
	height: 600px;
	/*border: 1px solid;
	border-color: lightgray;*/
}

.infoPanelContainer {
	width: 30% !important;
	height: 600px;
	float: left;
	overflow: scroll;
}

#tabs-1-cont {
	
}

.infoPanel {
	padding: 10px;
}

.topSearchPanel {
	float: left;
	padding: 10px;
	border: 1px solid green;
}

.dataLeftButton, .godzinaLeftButton {
	background: url('../img2/leftButton.png') !important;
	width: 12px !important;
	height: 24px !important;
	border: none !important;
	border-radius: 0px !important;
	margin: 0px !important;	
	float: left !important;
}

.dataRightButton, .godzinaRightButton {
	background: url('../img2/rightButton.png') !important;
	width: 13px !important;
	height: 24px !important;
	border: none !important;
	border-radius: 0px !important;
	float: right !important;
	margin-top: -24px;
}

/*********************************************************8
* POPUP MENU
*/
.popupContent {
	display: none;
}

.popup {
	color: white;
	font-weight: bold;
	margin: 0 auto;
	background-color: black;
	z-index: 8000;
}

.popupMenu {
	height: 20px;
	width: 100px;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
}

.popupStart {
	background-color: green;
}

.popupStop {
	background-color: red;
}

.popupDodaj {
	background-color: yellow;
	color: red;
	border-top: 1px solid black;
}

/************************************************************************************
* Formularz strona glowna 
*/
.topSearchPaneLeft {
	background: url('../img2/topSearchPanel.png');
	width: 457px;
	height: 108px;
	float: left;
}

.topSearchPaneLeft td {
	padding-left: 30px;
	padding-top: 7px;
}

.searchButton {
	background: url('../img2/szukaj.png') !important;
	float: right;
	margin-right: -98px !important;
	margin-top: -73px;
	border-radius: 0px !important;
	border: none !important;
	width: 98px !important;
	height: 48px !important;
}

/*****************************************************************************************
* LOADING MESSAGE AJAX
*/
.loadingMessage {
	float: left;
	display: none;
}

.loadingMessageGif {
	width: 80px;
	height: 80px;
	margin-top: 10px;
	magin-bottom: 10px;
	margin-left: 50px;
}

/******************************************************************************8
* ADD PRZYSTANEK DIALOG
*/
.addPrzystanekDialog {
	display: none;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}

.addPrzystanekDialog .label {
	width: 70px;
	margin-left: 10px;
	float: left;
	clear: left;
}

.addPrzystanekDialog .value {
	width: 300px;
	float: left;
}

/********************************************************************************8
* ADD LINIA FORM
*/
.addLiniaDialog {
	display: none;
}

.addLiniaDialog ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 10px;
	background: #dfd;
	padding: 5px;
	width: 160px;
	height: 300 px;
	overflow: auto;
}

.addLiniaDialog ul li {
	margin: 5px;
	padding: 3px;
	width: 120px;
	font-weight: 8px;
	cursor: pointer;
	float: left;
}

.addLiniaDialog .label {
	width: 70px;
	margin-left: 10px;
	float: left;
	clear: left;
}

.addLiniaDialog #liniaTypRadio {
	width: 300px;
	float: left;
}

#listaPrzystankowCont {
	float: left;
	margin-right: 10px;
}

#listaPrzystankowLiniiCont {
	margin-left: 10px;
	float: left;
}

.arrowPrzyst {
	cursor: pointer;
}

.arrowPrzystR {
	float: right;
}

.arrowPrzystL {
	float: left;
}

/****************************************************************
*/
.menuOperatoraCont {
	background: url('../img2/menuOperatora.png');
	float: right;
	width: 281px;
	height: 108px;
}

.menuOperatoraCont ul {
	list-style-type: none;
	cursor: pointer;
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.menuOperatoraCont a {
	color: #000;
	text-decoration: none;
}

.menuOperatoraCont a:hover {
	text-decoration: underline;
}

/*******************************************************888
* Lista linii, przystankow
*/
.deleteDialogCont {
	display: none;
}

.listaContainer {
	float: left;
}

.entityInfo {
	float: left;
	padding: 15px;
}

/**
 EDYCJA LINII
*/
.edycjaLiniiContainerAll .label {
	width: 70px;
	margin-left: 10px;
	float: left;
	clear: left;
}

.edycjaLiniiContainerAll input[type="text"], .edycjaLiniiContainerAll .value {
	width: 150px;
	float: left;
}

.formularzEdycjiLinii {
	width: 360px;
}

.listaPrzystankowLiniiEdit {
	marging: 0;
	padding: 0;
}

.listaPrzystankowLiniiEdit input[type="text"] {
	width: 40px;
	float: none;
}

.edycjaLiniiButtons{
	padding: 10px;
	}
.edycjaLiniiButtons button{
	margin-left: 10px;
	}
	
#przystanekTypRadio, #liniaTypRadio {
	display: inline;
}

.ui-spinner {position: relative}
.ui-spinner-buttons {position: absolute}
.ui-spinner-button {overflow: hidden}
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; }
.ui-timepicker-div dl dd { margin: -25px 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


.menuBold{
	color:white;
	font-weight: bold;
	}
